[package]
name = "libqhyccd"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libqhyccd-sys = { version = "0.1.0", path = "libqhyccd-sys", features = ["vendored"]}
eyre = "0.6.8"
thiserror = "1.0.49"
tracing = "0.1.27"
tracing-subscriber = "0.3.17"

#to make Zminimal happy
tracing-attributes = "0.1.27"
